body{
    text-align: center;
    background-color: rgb(255, 222, 245);
}
h1{
    color: white;
}

.container , .listContainer , .budgetContainer{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    font-weight: bold;
}

a:visited , a{
    color: rgb(251, 102, 192);
}

a:hover{
    color: rgb(226, 188, 249);
}